<div class="spa-widget-body">
<!--
    <div class="spa-widget-menu-area btn-group">
        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bars" ng-click="iconClicked()"></i>
        </a>

        <ul class="dropdown-menu" role="menu">
            <li ng-click="close()"><i class="fa fa-2x fa-close" ng-click="iconClicked()"></i></li>
            <li ng-click="settings()"><i class="fa fa-2x fa-gear" ng-click="iconClicked()"></i></li>
        </ul>
    </div>
-->
    <div class="spa-widget-header-buttons" style="z-index: 1;">
        <button ng-click="close()" class="btn btn-default pull-right">
            <i ng-click="iconClicked()" class="fa fa-remove"/>
        </button>
        <button ng-click="settings('sm')" class="btn btn-default pull-right">
            <i ng-click="iconClicked()" class="fa fa-gear"/>
        </button>
    </div>
</div>